*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

.body {
}

.body__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #000;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: start;
  width: 100%;
  align-items: center;
  background-color: chartreuse;
  padding: 50px;
  height: 100vh;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  align-self: start;
  width: 100%;
  align-items: center;
}