*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

.body {
}

.body__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #000;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: start;
  width: 100%;
  align-items: center;
  background-color: chartreuse;
  padding: 50px;
  height: 100vh;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  align-self: start;
  width: 100%;
  align-items: center;
}

.box {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.percent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  align-items: center;
  border-radius: 20px;
  background-color: #E9F0F4;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.10);
  padding: 20px;
  width: 100%;
}

.percent__block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.percent__input {
  height: 20px;
  max-width: 70px;
}

.percent__button {
  display: flex;
  align-items: center;
  max-width: 100px;
  justify-content: center;
  width: 100%;
}

.percent__result {
  display: flex;
  max-width: 200px;
  background-color: darkgray;
  border: 1px solid gray;
  height: 25px;
  color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.meter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.meter__container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.meter__input {
  height: 40px;
}

.meter__button {
  min-width: 50px;
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.convert {
  display: flex;
  width: 100%;
  justify-content: center;
}

.convert__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: space-between;
}

.convert__input {
  height: 40px;
  color: #000;
}

.convert__select {
  height: 40px;
  width: 40px;
}

.convert__button {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.convert__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-color: aqua;
  color: #000;
  font-size: 40px;
}

.count {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.count__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.count__content {
  display: flex;
  gap: 5px;
}

.count__text {
  color: red;
  font-size: 16px;
}

.count__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.count__button {
  display: flex;
  height: 30px;
  width: 70px;
  align-items: center;
  justify-content: center;
}

.time {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.time__text {
  background-color: fuchsia;
  color: #000;
  font-size: 40px;
  padding: 10px;
}

.time__numbers {
  background-color: red;
  font-size: 50px;
  padding: 15px;
}

.balance {
  display: flex;
  align-items: center;
  width: 100%;
}

.balance__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: black;
}

.balance__title {
  font-size: 70px;
  text-align: center;
  color: aqua;
}

.balance__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.balance__label {
}

.balance__input {
  width: 100%;
  height: 40px;
}

.balance__button {
  width: 100%;
  height: 30px;
}

.world {
  display: flex;
  flex-direction: column;
  position: relative;
}

.world__img {
  display: flex;
}

.world__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 100%;
  top: 20px;
}

.world__text {
  background-color: black;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: #000;
  margin: 0 auto;
  max-width: 500px;
}

.area__label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.area__text {
  font-size: 20px;
}

.area__score {
  display: flex;
  align-items: center;
  gap: 5px;
}

.area__price {
  font-size: 16px;
}

.area__info {
  font-size: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.info__label {
  display: flex;
  gap: 10px;
}

.info__input {
  padding: 5px 10px;
}

.traffic {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: black;
  padding: 10px;
}

.traffic.traffic--row {
  flex-direction: row;
}

.traffic__item {
  display: flex;
  flex-direction: column;
  background-color: rgba(175, 53, 78, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.traffic.traffic--row .traffic__item {
  width: 20px;
  height: 20px;
}

.traffic__container {
  width: 100%;
  height: 100%;
}