.age {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
}

.age__title {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

.age__title:after {
  width: 100%;
  content: "";
  background-color: black;
  height: 1px;
  display: flex;
}

.age__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 10px;
}

.age__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.age__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: baseline;
}

.age__text {
  font-size: 1rem;
}

.age__input {
  display: flex;
  width: 100%;
  align-items: center;
}

.age__button {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
}

.age__content {
}

.age__texts {
  display: flex;
  gap: 10px;
}

.age__result {
  font-size: 1rem;
}